<div id="swipebox-overlay" style="width: 1280px; height: 339px;">
	<div id="swipebox-container">
		<div id="swipebox-slider" style="display: block;">
			<div class="slide current">
				<img src="http://swipebox.csag.co/images/image-1.jpg">
			</div>
			<div class="slide"><img src="http://swipebox.csag.co/images/image-2.jpg"></div>
			<div class="slide"></div>
			<div class="slide"></div>
		</div>						
		<div id="swipebox-top-bar" class="">
			<div id="swipebox-title">Fog</div>
		</div>
		<div id="swipebox-bottom-bar" class="">
			<div id="swipebox-arrows">
				<a id="swipebox-prev" class="disabled"></a>
				<a id="swipebox-next"></a>
			</div>
		</div>
		<a id="swipebox-close"></a>
	</div>
</div>

<div id="swipebox-overlay">\
	<div id="swipebox-container">\
		<div id="swipebox-slider"></div>\
		<div id="swipebox-top-bar">\
			<div id="swipebox-title"></div>\
		</div>\
		<div id="swipebox-bottom-bar">\
			<div id="swipebox-arrows">\
				<a id="swipebox-prev"></a>\
				<a id="swipebox-next"></a>\
			</div>\
		</div>\
		<a id="swipebox-close"></a>\
	</div>\
</div>

element.style {
  width: 1280px;
  height: 339px;
}
#swipebox-overlay {
  background: #0d0d0d;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}